@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Montserrat&family=Noto+Sans&family=Orelega+One&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.home, .qualities {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    background-image: url('./assets/nav_bg.png');
    z-index: 95 !important;
}

.menu-open {
  z-index: 100 !important;
}

footer {
    background-image: url('./assets/bg_contact.png');
}

.menu-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}

.bg-nav {
  background-image: url(./assets/nav_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.case1 {
  background-image: url(./assets/case1.png);
  background-position: center;
  background-size: cover;
}

.case2 {
  background-image: url(./assets/case2.png);
  background-position: center;
  background-size: cover;
}

.case3 {
  background-image: url(./assets/case3.png);
  background-position: center;
  background-size: cover;
}

.case4 {
  background-image: url(./assets/case4.png);
  background-position: center;
  background-size: cover;
}

.case5 {
  background-image: url(./assets/case5.png);
  background-position: center;
  background-size: cover;
}

.overlay-full {
  background-image: url(./assets/rect1.png);
  background-position: center;
  background-size: cover;
}

.overlay-violet {
  background-image: url(./assets/rect_violet.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-gray {
  background-image: url(./assets/rect_gray.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-green {
  background-image: url(./assets/rect_green.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-blue {
  background-image: url(./assets/rect_blue.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-pink {
  background-image: url(./assets/rect_pink.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}
.veritical {
  writing-mode: vertical-lr;
}

.top {
  z-index: 100;
}

@media screen and (max-height: 1200px) {
    .menu-text {
      font-size: 27px; /* Adjust as needed */
    }
  }
  
  /* Medium size screen */
  @media screen and (max-height: 992px) {
    .menu-text {
      font-size: 24px; /* Adjust as needed */
    }
  }
  
  /* Small size screen */
  @media screen and (max-height: 768px) {
    .menu-text {
      font-size: 21px; /* Adjust as needed */
    }
  }
  
  /* Extra Small size screen */
  @media screen and (max-height: 576px) {
    .menu-text {
      font-size: 18px; /* Adjust as needed */
    }
  }