@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Montserrat&family=Noto+Sans&family=Orelega+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.home {
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.qualities {
  background-image: url('./assets/bg_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background-image: url('./assets/nav_bg.png');
  z-index: 95 !important;
}

.menu-open {
  z-index: 100 !important;
}

footer {
  background-image: url('./assets/bg_contact.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.bg-nav {
  background-image: url(./assets/nav_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.case1 {
  background-image: url(./assets/case1.png);
  background-position: center;
  background-size: cover;
}

.case2 {
  background-image: url(./assets/case2.png);
  background-position: center;
  background-size: cover;
}

.case3 {
  background-image: url(./assets/case3.png);
  background-position: center;
  background-size: cover;
}

.case4 {
  background-image: url(./assets/case4.png);
  background-position: center;
  background-size: cover;
}

.case5 {
  background-image: url(./assets/santa-clara.jpg);
  background-position: center;
  background-size: cover;
}

.overlay-full {
  background-image: url(./assets/rect1.png);
  background-position: center;
  background-size: cover;
}

.overlay-violet {
  background-image: url(./assets/rect_violet.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-gray {
  background-image: url(./assets/rect_gray.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-green {
  background-image: url(./assets/rect_green.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-blue {
  background-image: url(./assets/rect_blue.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.overlay-pink {
  background-image: url(./assets/rect_pink.png);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}
.veritical {
  writing-mode: vertical-lr;
}

.top {
  z-index: 100;
  /* height: 100px; */
}

.popup {
  z-index: 200;
}

.popup_close {
  z-index: 250;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
}

@media screen and (max-height: 1200px) {
  .menu-text {
    font-size: 27px; /* Adjust as needed */
  }
}

/* Medium size screen */
@media screen and (max-height: 992px) {
  .menu-text {
    font-size: 24px; /* Adjust as needed */
  }
}

/* Small size screen */
@media screen and (max-height: 768px) {
  .menu-text {
    font-size: 21px; /* Adjust as needed */
  }
}

/* Extra Small size screen */
@media screen and (max-height: 576px) {
  .menu-text {
    font-size: 18px; /* Adjust as needed */
  }
}

.case1-gradient {
  background-image: url(./assets/gradient1.png);
}

.case2-gradient {
  background-image: url(./assets/gradient2.png);
}
.case3-gradient {
  background-image: url(./assets/gradient3.png);
}

.case4-gradient {
  background-image: url(./assets/gradient4.png);
}

/*Luis*/
/* #home
  > div
  > div.p-0.m-0.h-full.w-\[45\%\].flex.flex-col.justify-start.items-start {
  margin-top: 100px;
} */

/* #home
  > div
  > div.p-0.m-0.h-full.w-\[45\%\].flex.flex-col.justify-start.items-start
  > button {
  font-weight: 600;
} */

#about > div > div.flex.flex-col.justify-start.gap-0.h-fit.w-full > div > p {
  font-weight: 500;
}

/* .top {
  height: 100px;
} */

#team
  > div
  > div.h-52.flex.gap-2.justify-start.w-full.pl-10
  > div
  > div
  > p.text-\[\#A49090\],
#team
  > div
  > div.h-52.flex.gap-2.justify-end.w-\[90\%\]
  > div
  > div
  > p.text-\[\#A49090\],
#team
  > div
  > div.h-52.flex.gap-2.justify-start.w-full.pl-10
  > div
  > div
  > p.text-\[\#FF6F1F\],
#team
  > div
  > div.h-52.flex.gap-2.justify-end.w-\[90\%\]
  > div
  > div
  > p.text-\[\#FF6F1F\] {
  font-weight: 500;
}

#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-5 {
  padding-top: 65px;
  padding-bottom: 50px;
}

#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-5
  > ul,
#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-2
  > ul
  > li.flex.gap-2.items-center.text-\[\#ffffff\].\'text-\[30px\]\'.font-bold {
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-5
  > ul
  > li.p-3,
#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-2
  > ul
  > li.p-3
  > img {
  margin-right: 5px;
}
#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-5
  > ul
  > li.p-3
  > img {
  margin-right: 15px;
}

#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-5
  > ul
  > li.flex.gap-2.items-center.text-\[\#ffffff\].\'text-\[30px\]\'.font-bold {
  margin-right: -23px;
}

#home > div > div.h-full.w-\[55\%\].relative.p-0.m-0 > img {
  width: 700px;
  height: 775px;
  right: 120px;
  top: 113px;
}

#home
  > div
  > div.p-0.m-0.h-full.w-\[45\%\].flex.flex-col.justify-start.items-start {
  margin-right: 170px;
}

#home
  > div
  > div.p-0.m-0.h-full.w-\[45\%\].flex.flex-col.justify-start.items-start
  > button {
  margin-top: 70px;
}

.top {
  height: 117px;
}

#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-2
  > ul {
  gap: 3rem;
}

#root
  > div
  > div
  > div.top.bg-nav.h-fit.w-full.fixed.top-0.left-0.z-60.px-\[7\.5\%\].flex.justify-between.items-center.align-middle.py-2
  > ul {
  margin-right: 25px;
}
#about > div > div.flex.flex-col.justify-start.gap-0.h-fit.w-full > span {
  font-weight: 500;
}

#about > div > div.flex.flex-col.justify-start.gap-0.h-fit.w-full > span {
  margin-bottom: 40px;
}

#service
  > div
  > div
  > div
  > div.sticky.r-0.w-auto.flex.flex-col.items-end.px-20.pt-10.gap-1 {
  margin-top: 90px;
  margin-right: 80px;
}

#service
  > div
  > div
  > div
  > div.sticky.r-0.w-auto.flex.flex-col.items-end.px-20.pt-10.gap-1
  > p.z-50.text-\[\#F7073E\].font-normal.text-\[45px\].min-\[1920px\]\:text-\[70px\].leading-\[75px\].min-\[1920px\]\:leading-\[95px\].whitespace-nowrap {
  font-weight: 500;
}

#service > div > div > div > div.h-\[55vh\].w-full.overflow-hidden.relative {
  top: -130px;
}

#service
  > div
  > div
  > img.h-\[80\%\].z-\[4\].absolute.bottom-0.origin-\[48\%_48\%\].left-\[23\%\].min-\[800px\]\:max-\[1280px\]\:left-\[15\%\].mb-0 {
  left: 17.5%;
}

#service > div > div > div > div.h-\[55vh\].w-full.overflow-hidden.relative {
  right: 12.5%;
}

#service > div > div > div {
  width: 33%;
}

#service
  > div
  > div
  > img.h-\[80\%\].z-\[4\].absolute.bottom-0.origin-\[48\%_48\%\].left-\[23\%\].min-\[800px\]\:max-\[1280px\]\:left-\[15\%\].mb-0 {
  bottom: 20px;
}

#service
  > div
  > div
  > div
  > div.h-\[55vh\].w-full.overflow-hidden.relative
  > div.w-full.flex.flex-col.px-20.min-\[1920px\]\:px-10.gap-2.whitespace-pre-wrap.absolute.max-\[1390px\]\:bottom-\[-15\%\].min-\[1400px\]\:bottom-\[-40\%\].\32
  xl\:bottom-\[-30\%\].opacity-40.\32
  xl\:text-xl {
  bottom: 0;
}

#quality > div > div.py-1 {
  margin-top: 62.5px;
}

#quality > div > div.py-1 > span {
  font-weight: 500;
}

#quality > div > div.flex.justify-between.gap-2.h-full.py-2 {
  padding-top: 10px;
}

#quality > div > div.flex.justify-between.gap-2.h-full.py-2 {
  height: 810px;
}

#quality img {
  max-width: 152px;
}

#quality > div > div.flex.justify-between.gap-2.h-full.py-2 {
  gap: 1rem;
}

#team > div {
  padding-top: 9.66rem;
}
#team > div > div.h-52.flex.gap-2.justify-start.w-full.pl-10 > div > img,
#team > div > div.h-52.flex.gap-2.justify-end.w-\[90\%\] > div > img {
  height: 25rem;
}

#team > div > div.h-52.flex.gap-2.justify-start.w-full.pl-10 > div {
  width: 60%;
}

#team > div > div.h-52.flex.gap-2.justify-end.w-\[90\%\] {
  height: 23rem;
}

#team > div {
  padding-left: 5.25rem;
}

#team > div > div.h-52.flex.gap-2.justify-start.w-full.pl-10 {
  height: 23rem;
}

#team > div > div.h-52.flex.gap-2.justify-end.w-\[90\%\] > div {
  width: 66.6%;
}

#team > div > div.h-52.flex.gap-2.justify-end.w-\[90\%\] {
  margin-left: 15rem;
}

#contact > footer {
  height: 340px;
}

#contact > footer {
  justify-content: normal;
}

#contact > footer > div.flex.w-auto.flex-col.py-1.gap-2.items-start {
  margin-left: 3rem;
}

#contact
  > footer
  > div.flex.w-auto.gap-10.justify-end.px-8.text-\[12px\].min-\[1920px\]\:text-\[20px\].leading-\[24px\].min-\[1920px\]\:leading-\[40px\].pb-5
  > div:nth-child(1) {
  width: 100%;
}

#contact
  > footer
  > div.flex.w-auto.gap-10.justify-end.px-8.text-\[12px\].min-\[1920px\]\:text-\[20px\].leading-\[24px\].min-\[1920px\]\:leading-\[40px\].pb-5 {
  margin-left: 38.3rem;
  font-weight: 500;
  margin-top: 0.75rem;
}

.case1-gradient {
  background-image: url(./assets/gradient1.png);
}

.case2-gradient {
  background-image: url(./assets/gradient2.png);
}

.popup {
  z-index: 200;
}

.popup_close {
  z-index: 250;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
}

/* #about > div > div.w-full.relative.p-0.m-0.pt-10.flex.justify-end > img {
  height: auto;
  max-width: 800px !important;
  width: 770px;
}

#about {
  padding-top: 0;
} */

#root > div > div > nav > ul {
  margin-right: 3rem;
}

#home
  > div
  > div.col-span-4.w-full.h-full.p-0.m-0.flex.flex-col.justify-start.items-start
  > div.w-full.h-\[242px\].p-0.m-0.flex.flex-col.text-\[70px\].font-bold.leading-\[45px\].text-white {
  font-size: 81px;
}

#home > div > div.h-auto.col-span-5.p-0.m-0 > img {
  left: 4.7rem;
}

#home
  > div
  > div.col-span-4.w-full.h-full.p-0.m-0.flex.flex-col.justify-start.items-start {
  width: 35rem;
}

#home > div > div.h-auto.col-span-5.p-0.m-0 > img {
  bottom: -0.75rem;
}

#home {
  padding-top: 20rem;
}

#home
  > div
  > div.col-span-4.w-full.h-full.p-0.m-0.flex.flex-col.justify-start.items-start
  > div.w-full.h-\[121px\].flex.items-end {
  height: 5rem;
}

#home
  > div
  > div.col-span-4.w-full.h-full.p-0.m-0.flex.flex-col.justify-start.items-start {
  margin-left: 7rem;
}

#root > div > div > nav {
  height: 8rem;
}

#about > div > div.w-full.h-auto.relative.p-0.m-0.pt-0.flex.justify-end > img {
  width: 100%;
  height: 100%;
}

#about > div > div.flex.flex-col.justify-start.gap-0.h-fit.w-full > span {
  margin-top: 3rem;
  margin-bottom: 3.25rem;
}

#about > div {
  padding-left: 0rem;
  padding-right: 8rem;
}

#about > div > div.w-full.h-auto.relative.p-0.m-0.pt-0.flex.justify-end > img {
  bottom: 0rem;
  right: -1.5rem;
  /* z-index: 999; */
}

#about > div > div.flex.flex-col.justify-around.gap-0.h-fit.w-full.gap-10 {
  margin-top: 4rem;
}

#about
  > div
  > div.flex.flex-col.justify-around.gap-0.h-fit.w-full.gap-10
  > div
  p {
  font-weight: 500;
  text-align: justify;
}

#service
  > div
  > div
  > div
  > div.sticky.r-0.w-auto.flex.flex-col.items-end.px-20.pt-10.gap-1 {
  padding-bottom: 5rem;
}

.ojo {
  top: -12.5rem !important;
}

.gestion {
  top: 31rem !important;
}

.imagenchida {
  top: 39rem !important;
}

.comunicacion {
  top: 50rem !important;
}

#team > div > div.h-52.flex.gap-2.justify-start.w-full.pl-10 {
  padding-left: 3rem;
}

#contact > div > div.w-\[50\%\].relative > img {
  width: 100%;
  height: auto;
}
#contact
  > div
  > div.h-fit.w-\[50\%\].flex.flex-col.justify-start.items-end.gap-1.mt-\[5\%\].min-\[1920px\]\:mt-\[12\%\].mr-\[7\.5\%\] {
  margin-top: 11rem;
}
#contact
  > div
  > div.h-fit.w-\[50\%\].flex.flex-col.justify-start.items-end.gap-1.mt-\[5\%\].min-\[1920px\]\:mt-\[12\%\].mr-\[7\.5\%\]
  > p.my-5.text-\[45px\].min-\[1920px\]\:text-\[70px\].leading-\[75px\].min-\[1920px\]\:leading-\[95px\].whitespace-nowrap.font-medium.text-\[\#F7073E\].flex.justify-end {
  margin-bottom: 2rem;
}

#contact
  > div
  > div.h-fit.w-\[50\%\].flex.flex-col.justify-start.items-end.gap-1.mt-\[5\%\].min-\[1920px\]\:mt-\[12\%\].mr-\[7\.5\%\]
  > div {
  width: 90%;
}

#contact
  > div
  > div.h-fit.w-\[50\%\].flex.flex-col.justify-start.items-end.gap-1.mt-\[5\%\].min-\[1920px\]\:mt-\[12\%\].mr-\[7\.5\%\]
  > div
  input {
  padding: 0.75rem 1rem !important;
  border: 1px solid #707070;
  font-weight: 500;
  color: #a49090;
  font-size: 28px;
}

#contact
  > div
  > div.h-fit.w-\[50\%\].flex.flex-col.justify-start.items-end.gap-1.mt-\[5\%\].min-\[1920px\]\:mt-\[12\%\].mr-\[7\.5\%\]
  > p.flex.w-full.justify-center.items-center.min-\[1920px\]\:items-end.align-middle
  > button {
  margin-left: 5rem;
}

#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  span {
  padding-left: 0 !important;
}

#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  > div
  > div
  > div
  > div.w-full.px-\[7\.5\%\].grid.grid-cols-12.gap-1.mt-\[7\%\]
  > div.col-span-6.flex.flex-col.items-center.justify-center,
#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  > div
  > div
  > div
  > div.mt-\[200px\].mb-\[100px\].w-full.h-auto.px-\[7\.5\%\].grid.grid-cols-12.gap-3
  > div.col-span-6.flex.align-middle.items-center.justify-center,
#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  > div
  > div
  > div.case4-gradient.h-\[1111px\].w-full.absolute.top-\[360px\].flex.flex-col.items-center.pt-\[15\%\]
  > div.mt-\[150px\].mb-\[100px\].w-full.h-auto.px-\[7\.5\%\].grid.grid-cols-12.gap-3
  > div.col-span-6.flex.flex-col.justify-center {
  justify-content: end;
}
#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  p {
  font-size: 22px;
  text-align: justify;
}

#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  > div
  > div
  > div
  > div.mt-\[200px\].mb-\[100px\].w-full.h-auto.px-\[7\.5\%\].grid.grid-cols-12.gap-3 {
  padding-top: 2rem;
}

#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  img {
  align-self: end;
}

#quality
  > div
  > div.flex.justify-between.gap-2.h-full.py-2
  > div.w-\[50\%\].h-full.rounded-xl.case1.p-0.transition-all
  > div
  > div
  > div
  > div.m-0.p-0.flex.justify-between.h-\[38\%\].w-full
  > div.m-0.p-0.flex.pl-10
  > div
  > p.text-white.font-bold.text-xl.min-\[1920px\]\:text-\[40px\].min-\[1920px\]\:leading-\[40px\],
#quality
  > div
  > div.flex.justify-between.gap-2.h-full.py-2
  > div.w-\[50\%\].h-full.rounded-xl.case2.p-0.transition-all
  > div
  > div
  > div
  > div.m-0.p-0.flex.justify-between.h-\[38\%\].w-full
  > div.m-0.p-0.flex.pl-10
  > div
  > p.text-white.font-bold.text-xl.min-\[1920px\]\:text-\[40px\].min-\[1920px\]\:leading-\[40px\],
#quality
  > div
  > div.flex.justify-between.gap-2.h-full.py-2
  > div.w-\[50\%\].h-full.rounded-xl.case3.p-0.transition-all
  > div
  > div
  > div
  > div.m-0.p-0.flex.justify-between.h-\[38\%\].w-full
  > div.m-0.p-0.flex.pl-10
  > div
  > p.text-white.font-bold.text-xl.min-\[1920px\]\:text-\[40px\].min-\[1920px\]\:leading-\[40px\],
#quality
  > div
  > div.flex.justify-between.gap-2.h-full.py-2
  > div.w-\[50\%\].h-full.rounded-xl.case5.p-0.transition-all
  > div
  > div
  > div
  > div.m-0.p-0.flex.justify-between.h-\[38\%\].w-full
  > div.m-0.p-0.flex.pl-10
  > div
  > p.text-white.font-bold.text-xl.min-\[1920px\]\:text-\[40px\].min-\[1920px\]\:leading-\[40px\] {
  line-height: 50px;
}

#root
  > div
  > div
  > div.overlay.popup.w-screen.h-screen.fixed.top-0.left-0.py-\[4\%\].px-\[8\%\]
  > div
  > div
  > div
  > div
  > span {
  text-align: center;
}
